.booking {
  max-width: 100vw;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: #EBECF1;
  transition: opacity 0.5s, visibility 0.5s;
  opacity: 1;
  visibility: visible;
}
.booking_hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
}
.booking__container {
  padding: 80px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.booking__title {
  margin-bottom: 50px;
  font-weight: 800;
  font-size: 46px;
  line-height: 1.2;
}
.booking__fieldset_user-info {
  margin-bottom: 50px;
}
.booking__legend {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 18px;
}
.booking__input-group {
  display: flex;
  gap: 8px;
}
.booking__input {
  max-width: 380px;
  width: 100%;
  height: 44px;
  padding: 0 16px;
  background-color: #FFFFFF;
  border-radius: 8px;
  border: 1px solid transparent;
  outline: none;
  transition: 0.36s;
  cursor: pointer;
}
.booking__input::placeholder {
  color: #BABABA;
}
.booking__input:hover {
  background-color: #F9F9F9;
}
.booking__input:focus-visible {
  border-color: #BCBCBC;
  background-color: #FFFFFF;
}
.booking__input_valid {
  border-color: #00992B;
}
.booking__input_invalid {
  border-color: #990000;
}

.booking__fieldset_comedians {
  margin-bottom: 100px;
}
.booking__comedians-list > * + * {
  margin-top: 20px;
}
.booking__comedian {
  display: flex;
  align-items: center;
}
.booking__select {
  height: 44px;
  width: 100%;
  outline: none;
  transition: 0.36s;
  cursor: pointer;
}
.booking__select_comedian {
  margin-right: 8px;
  max-width: 380px;
}
.booking__select_time {
  margin-right: 18px;
  max-width: 183px;
}
.booking__hall {
  white-space: nowrap;
  background: url('../img/gg_qr.svg') right/24px no-repeat;
  padding-right: 32px;
}

.booking__btn_submit {
  margin-bottom: 24px;
  padding: 16px 36px;
  background: #FFC219;
  border: 1px solid transparent;
  border-radius: 36px;
  color: #1A1A1A;
}
.booking__btn_submit:hover {
  background-color: #FEC938;
}
.booking__btn_submit:focus-visible {
  background-color: #FFC219;
  border-color: #B88600;
}
.booking__btn_submit:disabled {
  background-color: #BABABA;
  pointer-events: none;
}
.booking__client-info {
  margin-bottom: 30px;
}
.booking__title-qr {
  margin-bottom: 20px;
}
.booking__perfomance {
  margin-bottom: 30px;
}
.booking__client-item + .booking__client-item {
  margin-top: 10px;
}
.booking__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.booking__list-item .booking__hall {
  margin-top: 10px;
}

@media (max-width: 1024px) {
  .booking__container {
    padding: 60px;
    max-width: 100%;
  }
  .booking__title {
    margin-bottom: 40px;
    font-size: 32px;
  }
  .booking__fieldset_user-info {
    margin-bottom: 40px;
  }
  .booking__fieldset_comedians {
    margin-bottom: 80px;
  }
}

@media (max-width: 768px) {
  .booking__input-group {
    flex-direction: column;
  }
  .booking__input {
    max-width: 100%;
  }
}

@media (max-width: 660px) {
  .booking__container {
    padding: 40px 20px;
  }
}

@media (max-width: 540px) {
  .booking__container {
    padding: 30px 16px 40px;
  }
  .booking__title {
    margin-bottom: 32px;
    font-size: 24px;
  }
  .booking__fieldset_user-info,
  .booking__fieldset_comedians {
    margin-bottom: 32px;
  }
  .booking__comedian {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
  }
  .booking__select_comedian {
    margin-right: 0;
    max-width: 100%;
  }
  .booking__select_time {
    margin-right: 0;
  }
}